.explore-search-container {
    height: 20vh;
    background-color: var(--themeGrey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-search-container input {
    display: block;
    width: 60%;
    padding: 13px;
    border-radius: 7px;
    outline: none;
    border: none;
}

.explore-search-result-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 10px;
    padding: 10px;
    max-height: 66vh;
    overflow-y: scroll;
}

.explore-search-result-container::-webkit-scrollbar {
    display: none;
}

.explore-search-result-container div {
    margin: 0;
    background-color: white;
}