.feeds-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 89%;
    width: 80%;
    margin: 10px auto;

}

.feeds-container section {

    border-radius: 7px;
}

.feeds-container .feeds-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.feeds-container .feeds-layout section {
    background-color: white;
    padding: 20px;
    overflow: hidden;
}

.feeds-container .feeds-layout .feeds-story-container {
    padding: 0px;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--themeGrey);
}

.feeds-container .feeds-layout .feeds-story-container::-webkit-scrollbar {
    display: none;
}

.feeds-container .feeds-layout .feeds-story-container .feed-story-card {
    display: inline-block;
    width: 70px;
    max-width: 70px;
    overflow: hidden;
    margin-right: 10px;
    text-align: center;
}

.feeds-container .feeds-layout .feeds-story-container .feed-story-card div {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 4px;
}

.feeds-container .feeds-layout .suggestion-container {
    height: 75vh;
    max-height: 75vh;
    overflow-y: scroll;
    margin-top: 1px;
}

.feeds-container .feeds-layout .suggestion-container::-webkit-scrollbar {
    display: none;
}

.feeds-container .feeds-layout .suggestion-title {
    border-bottom: 1px solid var(--themeGrey);
    padding-bottom: 10px;
}

.feeds-container .feeds-layout .feed-post-container {
    height: 100vh;
    max-height: 70vh;
    margin-top: 5px;
    overflow-y: scroll;
    padding: 0;
}

.feeds-container .feeds-layout .feed-post-container::-webkit-scrollbar {
    display: none;
}

.feed-post-card-container {
    border: 1px solid var(--themeGrey);
    padding: 0px;
    margin-bottom: 7px;
}

.feed-post-card-container section {
    padding: 0 !important;
}

.feed-post-card-container .feed-post-card-header {
    display: flex;
    align-items: start;
    margin-bottom: 7px;
}

.feed-post-card-container .feed-post-card-header .feed-post-profile {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    max-width: 45px;
    max-height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.feed-post-card-container .feed-post-card-header p{
    margin: 0;
    margin-top: 2px;
    font-size: 12px;
}

.feed-post-card-container .feed-post-card-header h5 {
    font-size: 14px;
    font-weight: 700;
}

.feed-post-card-container .feed-post-card-image {
    min-height: 50vh;
    max-height: 70vh;
    overflow: hidden;
    background-color: white !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--themeGrey);
    border-radius: 0;
}

.feed-post-card-container .feed-post-card-actions ion-icon{
    font-size: 20px;
    margin-right: 10px;
}

.feed-post-card-container .feed-post-card-body p{
    margin: 0;
    font-size: 15px;
    margin-top: 7px;
}