.chat-contact-card-container {
    display: grid;
    grid-template-columns: 1fr 2fr .8fr;
    padding: 7px;
    cursor: pointer;
    border-bottom: 1px solid rgb(236, 235, 235);
}

.chat-contact-card-container .chat-contact-profilepic {
    background-color: var(--themeGrey);
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.chat-contact-card-container .chat-contact-message-time {
    font-size: 10px;
}

.chat-contact-card-container .chat-contact-name {
    margin-bottom: 5px;
    margin-top: 3px;
}